/**
 * google-material-color v1.2.6
 * https://github.com/danlevan/google-material-color
 */
/** App specific **/
/** Generic **/
/*
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*/
.test {
  background-color: #FFD;
  border: 1px solid #000; }

.group:after {
  content: "";
  display: table;
  clear: both; }

.no-overflow {
  overflow: hidden; }

body, input {
  color: rgba(0, 0, 0, 0.87);
  font: 16px sans-serif; }

body {
  margin: 0;
  padding: 0;
  background-color: #555; }

.touch {
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  transition: all 0.2s; }
  .tight .touch {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 16px; }

.touch:hover {
  color: rgba(0, 0, 0, 0.5); }
  .touch:hover.highlight {
    color: rgba(255, 255, 0, 0.7); }

.col {
  box-sizing: border-box;
  float: left;
  height: calc(100% - 56px);
  overflow-y: hidden;
  width: 280px;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #FFF;
  position: relative; }
  .col.wide {
    width: 392px; }

.header {
  flex: 0 0 auto;
  height: 56px;
  line-height: 56px;
  padding-left: 16px;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .header.tight {
    min-height: 28px;
    height: auto;
    line-height: 28px; }

.footer {
  flex: 1 1 auto;
  height: 56px;
  line-height: 56px;
  bottom: 0;
  padding-left: 16px;
  background-color: #009688;
  color: #FFF; }

.main-header {
  height: 56px;
  line-height: 56px;
  box-sizing: border-box; }

.label-set {
  height: 56px;
  line-height: 56px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row; }
  .label-set .label {
    box-sizing: border-box;
    width: 125px;
    flex: 0 0 auto;
    padding: 4px 16px 4px 16px;
    display: inline-block; }
  .label-set input, .label-set textarea, .label-set select, .label-set .value {
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 4px 16px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100%; }
  .label-set.number input, .label-set.number select, .label-set.number .value {
    text-align: right; }

.list {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .list .item {
    box-sizing: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    min-height: 56px;
    line-height: 56px;
    padding-left: 16px; }
    .list .item.tight {
      min-height: 28px;
      line-height: 28px; }
    .list .item.super-tight {
      min-height: 14px;
      line-height: 14px; }

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h1 {
    color: #FFF; }

h2 {
  font-size: 27px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h2 {
    color: #FFF; }

h3 {
  font-size: 22px;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h3 {
    color: #FFF; }

h4 {
  font-size: 17px;
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h4 {
    color: #FFF; }

h5 {
  font-size: 12px;
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h5 {
    color: #FFF; }

h6 {
  font-size: 7px;
  margin-bottom: 0px;
  color: rgba(0, 0, 0, 0.54);
  margin-top: 8px; }
  .dark > h6 {
    color: #FFF; }

.width1 {
  display: inline-block;
  width: 56px; }

.width2 {
  display: inline-block;
  width: 112px; }

.width3 {
  display: inline-block;
  width: 168px; }

.width4 {
  display: inline-block;
  width: 224px; }

.width5 {
  display: inline-block;
  width: 280px; }

.width6 {
  display: inline-block;
  width: 336px; }

.width7 {
  display: inline-block;
  width: 392px; }

.width8 {
  display: inline-block;
  width: 448px; }

.width9 {
  display: inline-block;
  width: 504px; }

.width10 {
  display: inline-block;
  width: 560px; }

.width11 {
  display: inline-block;
  width: 616px; }

.width12 {
  display: inline-block;
  width: 672px; }

.margin1 {
  margin-left: 16px; }

.margin1.right {
  margin-left: 0;
  margin-right: 16px; }

.padding1 {
  padding-left: 16px; }

.padding1.right {
  padding-left: 0;
  padding-right: 16px; }

.margin2 {
  margin-left: 32px; }

.margin2.right {
  margin-left: 0;
  margin-right: 32px; }

.padding2 {
  padding-left: 32px; }

.padding2.right {
  padding-left: 0;
  padding-right: 32px; }

.margin3 {
  margin-left: 48px; }

.margin3.right {
  margin-left: 0;
  margin-right: 48px; }

.padding3 {
  padding-left: 48px; }

.padding3.right {
  padding-left: 0;
  padding-right: 48px; }

.margin4 {
  margin-left: 64px; }

.margin4.right {
  margin-left: 0;
  margin-right: 64px; }

.padding4 {
  padding-left: 64px; }

.padding4.right {
  padding-left: 0;
  padding-right: 64px; }

.margin5 {
  margin-left: 80px; }

.margin5.right {
  margin-left: 0;
  margin-right: 80px; }

.padding5 {
  padding-left: 80px; }

.padding5.right {
  padding-left: 0;
  padding-right: 80px; }

.margin6 {
  margin-left: 96px; }

.margin6.right {
  margin-left: 0;
  margin-right: 96px; }

.padding6 {
  padding-left: 96px; }

.padding6.right {
  padding-left: 0;
  padding-right: 96px; }

.btn {
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  border-radius: 4px;
  font-weight: bold;
  color: #FFF;
  background-color: #2196F3;
  margin: 4px 16px 4px 16px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .btn.disabled {
    background-color: #999; }

.modal {
  display: none;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  overflow-y: scroll; }
  .modal .btn {
    margin-left: 0;
    margin-right: 0; }
  .modal .header {
    padding-left: 0; }

.modal .main-view {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  box-shadow: 3px 3px 3px #000;
  box-sizing: border-box;
  padding: 2em;
  margin: auto auto;
  background-color: #FFF; }

.modal .footer {
  margin-top: 1em;
  overflow: hidden; }

.row {
  min-height: 56px;
  line-height: 56px;
  box-sizing: border-box; }
  .row input, .row select {
    height: 40px;
    padding-left: 4px;
    margin-left: 8px;
    margin-top: 8px;
    margin-bottom: 8px; }
  .row.tight {
    min-height: 28px;
    line-height: 28px; }

.row-flex {
  display: flex;
  flex-direction: row; }

.row-right {
  float: right; }

.row-fill {
  flex: 1 1 auto;
  width: 100%; }

.row-nofill {
  flex: 0 0 auto; }

.col-flex {
  display: flex;
  flex-direction: column; }

.col-left {
  float: left;
  box-sizing: border-box;
  border-right: 1px solid rgba(0, 0, 0, 0.5);
  background-color: #FFF; }

.col-right {
  float: right;
  border-right: none;
  border-left: 1px solid rgba(0, 0, 0, 0.5); }

.col-fill {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: hidden; }

.col-nofill {
  flex: 0 0 auto; }

.scroll-x {
  overflow-x: auto; }

.scroll-y {
  overflow-y: auto; }

.shadow {
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.whitespace-pre {
  white-space: pre; }

.small-text {
  font-size: 12px; }

.light-text {
  color: rgba(0, 0, 0, 0.5); }

.right {
  float: right; }

.left {
  float: left; }

.black {
  background-color: #000;
  color: rgba(255, 255, 255, 0.87); }
  .black .touch:hover {
    color: rgba(255, 255, 0, 0.7); }

.dark {
  background-color: #004D40;
  color: white; }
  .dark.disabled {
    color: rgba(255, 255, 255, 0.5); }
  .dark .highlight {
    color: yellow; }

.medium {
  background-color: #009688;
  color: rgba(255, 255, 255, 0.87); }

.light {
  background-color: #80CBC4;
  color: #000; }

.secondary-dark {
  background-color: #311B92;
  color: white; }
  .secondary-dark.disabled {
    color: rgba(255, 255, 255, 0.5); }
  .secondary-dark .highlight {
    color: yellow; }

.secondary-medium {
  background-color: #673AB7;
  color: rgba(255, 255, 255, 0.87); }

.secondary-light {
  background-color: #B39DDB;
  color: #FFF; }

.error {
  background-color: #E53935;
  color: white; }

.warning {
  background-color: #FDD835;
  color: black; }

.ok {
  background-color: #43A047;
  color: white; }

.selected {
  background-color: rgba(255, 255, 155, 0.7); }

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.35); }

.highlight {
  color: yellow; }

.glow {
  box-shadow: 0px 0px 10px #FF0; }

.disabled {
  color: rgba(0, 0, 0, 0.5); }

.flex {
  display: flex; }

.hide {
  display: none; }

.invisible {
  opacity: 0; }

.blink {
  animation: blinker 1s linear infinite; }

@keyframes blinker {
  50% {
    opacity: 0.0; } }
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/imgs/fonts/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(/imgs/fonts/MaterialIcons-Regular.woff2) format("woff2"), url(/imgs/fonts/MaterialIcons-Regular.woff) format("woff"), url(/imgs/fonts/MMaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'liga';
  font-smoothing: antialiased; }

/*# sourceMappingURL=app.css.map */
